/*For whole web page, default is to include padding and border in elements
total width and height*/
*{
  box-sizing: border-box;
}

/*body default margin and padding properties and font*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /*line-height: 1.5;*/
  /* vertical-align: baseline; */
}

/*General default position property for headings and parapgraphs*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}


/* My name and navigation bar flexbox, header and nav bar*/
.header-wrapper{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  border-style: none;
  border-width: 3px;
  border-color: grey;
  border-left-color: lightblue;
  border-right-color: lightblue;
  padding: 3px;
  margin: 0px;
  margin-bottom: 0px;
  background-color: lightblue;
}

.header-wrapper h1 {
  width: 20%;
  font-size: xx-large;
  color: lightblue;
  text-align: center;
  padding: 5px;
  background-color: grey;
}

#nav-bar{
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items:center;
  margin-right: 5px;
}

#nav-bar a {
  font-size: x-large;
  color: grey;
  cursor: pointer;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: grey;
}

/*Banner below navigation bar with background image*/
.hero-banner{
  font-size: x-large;
  color: lightblue;
  text-align: center;
  height: 100px;
  padding: 10px;
  margin: 0px;
  background-image: url("../images/02-hero-bg.jpg");
  background-size: 1500px;
  position: relative;
}

/*Padding added to move text vertically lower on banner, also shadow added to 
letters*/
.hero-banner h2{
    padding: 0px;
    position:absolute;
    bottom:10px;
    right:50px;
    text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000;
}


/*Main Section of web page containing 'About Me', 'Portfolio' and 
'Contact' sections, structured as a column flex box*/
.page-wrapper{
  display: flex;
  flex-direction:column;
  height:fit-content;
  background-color: lightblue;
}

/*Row flex boxes, child elements will expand to fill available space*/
.page-section{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  flex-grow: 1;
}

/*Indicating relative height of flex boxes, overwritten by content*/
#about{
height: 30%;
position: relative;
}

#work{
height: 60%;
position: relative;
}

#contact{
height: 10%;
position: relative;
}

#about h2, #work h2, #contact h2{
  width: 15%;
  position: relative;
  top: 0;
  left: 0;
  font-size: xx-large;
  color: grey;
  text-align: right;
  padding: 5px;
  background-color: lightblue;
  border-right-style: solid;
  border-right-width: 3px;
  border-right-color: grey;
}

.MyPicture{
  width: 120px;
  height: 100%;
  margin-left: 10px;
}

.MyPicture img {
  width: auto;
  height:160px;
  border-style: solid;
  border-width: 3px;
  border-color: grey;
}

#about p{
  width: 70%;
  font-size: large;
  margin-left: 20px;
}

/* Grid of portfolio images and links*/
#categoryGrid {
  width: 70%;
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 300px 200px 200px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "Project1 Project1"
  "Project2 Project3"
  "Project4 Project5"
  ;
}

#Project1 {
  grid-area: Project1;
  background-image: url("../images/02-portfolio-4.jpg");

}
#Project2 {
  grid-area: Project2;
  background-image: url("../images/02-portfolio-1.jpg");
}

#Project3 {
  grid-area: Project3;
  background-image: url("../images/02-portfolio-2.jpg");
}

#Project4 {
  grid-area: Project4;
  background-image: url("../images/02-portfolio-3.jpg");
}

#Project5 {
  grid-area: Project5;
  background-image: url("../images/02-run-buddy.jpg");
}

.categoryGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
  border: 5px solid grey;
}

.categoryGridArea h3 {
  background-color: rgba(128,128,128,0.8);
  color: lightblue;
  font-size: x-large;
}

.categoryGridArea h4 {
  background-color: rgba(128,128,128,0.8);
  color: lightblue;
  font-size: medium;
}

#contact a{
  margin-left: 40px;
  margin-top: 15px;
}

#contact address{
  margin-top: 15px;
}

/* Media Selector*/

/*-->Media function adjustment to page at 1100px page width;
set page section flex-wrap to columns when screen 
width gets smaller, to arrange items better on a smaller screen. 
Also some adjustments to centre elements and minor 
formatting changes for column layout*/

@media only screen and (max-width: 1100px) {
  .page-section{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .icons{
    margin-left: auto;
  }
  #about h2, #work h2, #contact h2{
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 10px;
    font-size: x-large;
    color: grey;
    text-align: center;
    padding: 5px;
    background-color: lightblue;
    border-right-style: solid;
    border-right-width: 0px;
    border-right-color: grey;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: grey;
  }
  .header-wrapper h1 {
    width: 30%;
    font-size: xx-large;
    color: lightblue;
    text-align: center;
    padding: 5px;
    background-color: grey;
  }
 
  .hero-banner{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
  }
}

/*-->Media function adjustment to page at 1100px page width;
nav bar removed to free up space, grid rearranged to a single
column layout, minor heading formatting changes*/
@media only screen and (max-width: 640px) {
  #nav-bar{
    display: none;
  }
  
  .header-wrapper h1 {
    width: 100%;
    font-size: xx-large;
    color: lightblue;
    text-align: center;
    padding: 5px;
    background-color: grey;
  }
  #categoryGrid {
    width: 70%;
    margin: 0px 5%;
    display: grid;
    grid-template-rows: 200px 100px 100px 100px 100px;
    grid-template-columns: 1fr;
    grid-template-areas:
    "Project1" 
    "Project2" 
    "Project3"
    "Project4" 
    "Project5"
    ;
  }
  .hero-banner h2{
    right:0px;
  }
}