*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /*line-height: 1.5;*/
  /* vertical-align: baseline; */
}



h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/*Give properties to flex boxes*/


/* My name and navigation bar flexbox*/

.header-wrapper{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  border-style: none;
  border-width: 3px;
  border-color: grey;
  border-left-color: lightblue;
  border-right-color: lightblue;
  padding: 3px;
  margin: 0px;
  margin-bottom: 0px;
  background-color: lightblue;
}

.header-wrapper h1 {
  width: 20%;
  font-size: xx-large;
  color: lightblue;
  text-align: center;
  padding: 5px;
  background-color: grey;
}

#nav-bar{
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items:center;
  margin-right: 5px;
}

#nav-bar a {
  font-size: x-large;
  color: grey;
  cursor: pointer;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: grey;
}

/*Banner below navigation bar*/

.hero-banner{
  font-size: x-large;
  color: lightblue;
  height: 100px;
  padding: 10px;
  margin: 0px;
  background-image: url("../images/02-hero-bg.jpg");
  background-size: 1500px;
  position: relative;
}

/*Padding added to move text vertically lower on banner, also shadow added to 
letters*/
.hero-banner h2{
    padding: 0px;
    position:absolute;
    bottom:10px;
    right:50px;
    text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000;
}


/*Main Section containing 'About Me', 'Portfolio' and 'Contact'*/

.page-wrapper{
  display: flex;
  flex-direction:column;
  height:fit-content;
  background-color: lightblue;
}

/*Flex box child elements will expand to fill available space*/
.page-section{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  flex-grow: 1;
}


#about{
height: 30%;
justify-content: space-between;
position: relative;
}

#work{
height: 60%;
position: relative;
}

#contact{
height: 10%;
justify-content: space-between;
position: relative;
}

#about h2, #work h2, #contact h2{
  width: 15%;
  position: relative;
  top: 0;
  left: 0;
  font-size: xx-large;
  color: grey;
  text-align: right;
  padding: 5px;
  background-color: lightblue;
  border-right-style: solid;
  border-right-width: 3px;
  border-right-color: grey;
}

.MyPicture{
  width: 10%;
  height: 100%;
}

.MyPicture img {
  width: auto;
  height:160px;
}

#about p{
  width: 70%;
  font-size: large;
}

/* Grid of portfolio images and links*/
#categoryGrid {
  width: 70%;
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 300px 200px 200px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "Project1 Project1"
  "Project2 Project3"
  "Project4 Project5"
  ;
}

#Project1 {
  grid-area: Project1;
  background-image: url("../images/02-portfolio-4.jpg");

}
#bedroom {
  grid-area: Project2;
  background-image: url("../images/02-portfolio-1.jpg");
}

#couches {
  grid-area: Project3;
  background-image: url("../images/02-portfolio-2.jpg");
}

#patio {
  grid-area: Project4;
  background-image: url("../images/02-portfolio-3.jpg");
}

#desks {
  grid-area: Project5;
  background-image: url("../images/02-run-buddy.jpg");
}

.categoryGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
  border: 5px solid grey;
}

.categoryGridArea h3 {
  background-color: rgba(128,128,128,0.8);
  color: lightblue;
  font-size: x-large;
}


/* Media Selector*/

/*-->Set some flex wraps to columns when
screen gets smaller?*/

/*@media only screen and (max-width: 1000px) {
  #navigation{
    display: none;
  }
  .icons{
    margin-left: auto;
  }
}

@media only screen and (max-width: 600px) {
  #headline{
    position: static;
    margin: 20px;
  }
  #heroGrid{
    grid-template-areas: 
    "featuredProduct featuredProduct"
    "secondaryProduct CTA";
  }
  #categoryGrid{
    grid-template-rows: 300px 300px 300px 300px 300px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "bookcases"
    "bedroom"
    "patio"
    "couches"
    "desks";
  }
}*/